<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ketz Shop</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'bootstrap-5.0.2-dist/css/bootstrap.min.css')}}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'bootstrap-5.0.2-dist/css/bootstrap-grid.css')}}">
    <!-- custom css -->
    <link rel = "stylesheet" href = "{{ url_for('static' , filename = 'css/main.css')}}">
</head>
<body>
    
    <!-- navbar -->
    <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
        <div class = "container">
            <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "/">
                <img src = "{{ url_for('static', filename = 'images/shopping-bag-icon.png')}}" alt = "site icon">
                <span class = "text-uppercase fw-lighter ms-2">Ketzshop</span>
            </a>

            <div class = "order-lg-2 nav-btns">
                <a class="py-6" href="/cart">
                <button type = "button" class = "btn position-relative">
                    <i class = "fa fa-shopping-cart"></i>
                    <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">5</span>
                </button></a>
                <a href="/account"><button type = "button" class = "btn position-relative">
                    <i class = "fa fa-user"></i>
                </button></a>
                <button type = "button" class = "btn position-relative">
                    <a href="#search">
                        <i class = "fa fa-search"></i>
                    </a>
                    <!-- Search Form -->
<div id="search"> 
	<span class="close">X</span>
	<form role="search" id="searchform" action="/search" method="post">
		<input value="" name="Search" type="search" placeholder="type to search"/>
	</form>
</div>

                </button>
            </div>

            <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "/">home</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "/products">Products</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#special">specials</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#blogs">blogs</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
                    </li>
                    <li class = "nav-item px-2 py-2 border-0">
                        <a class = "nav-link text-uppercase text-dark" href = "#popular">popular</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
                <!-- jquery -->
                <script src = {{ url_for('static', filename = 'js/jquery-3.6.0.js') }}></script>
                <!-- isotope js -->
                <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
                <!-- bootstrap js -->
                <script src ={{ url_for('static', filename = 'bootstrap-5.0.2-dist/js/bootstrap.min.js') }}></script>
                <!-- custom js -->
                <script src = {{ url_for('static', filename = 'js/script.js') }}></script>
                <script>
                    $(document).ready(function(){
	$('a[href="#search"]').on('click', function(event) {                    
		$('#search').addClass('open');
		$('#search > form > input[type="search"]').focus();
	});            
	$('#search, #search button.close').on('click keyup', function(event) {
		if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
			$(this).removeClass('open');
		}
	});            
});

                </script>
        {% block content %}
        {% endblock %}
        
    </body>
</html>
