{% extends "base.html" %}
{% block content %}

<div class="row py-6">
<div class="col-2">
  test
</div>
      {% for item in products %}
      <div class="col-2">
      <div class="card" style="width: 100%;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src ="{{ url_for('static', filename = item.image.img_location )}}" alt="Card image cap" style="width:100%">
      </div>
      <div class="card-body">
          <h5 class="card-title">{{item.product_name}}</h5>
          <p class="card-text">{{ item.product_description }}</p>
          <a href="/products/{{item.product_id}}" class="btn btn-primary">Check and Order</a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
{% endblock content %}

